
body {

	background: url.("./assets/images/bora.jpg"):no-repeat;
}


div {

    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 5px;
    color: black;
}
text {

	font-size: 30px;
	color: white;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 5px;
    color: black;
}




ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}



nav {

	margin: center;
}

img {

	shape-margin: round;

}

.title {
	font-family: "Times New Roman", Georgia, sans-serif;
	font-size: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
    height: 250px;
    font-size: 120%;
    font-family: "Times New Roman", Georgia, sans-serif;
    padding-top: 2%;
    text-align: center;
    padding-left: 35%;

}

body {
    padding-top: 70px;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.logo {
    margin-left: 20px;
    font-family: cursive;
    font-size: 50px;
}

.nav {
    margin-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.jumbotron {
    font-family: 'Nunito', sans-serif;

}

p {
    font-family: 'Nunito', sans-serif;
}

.container {
}
